<style>
    /* 본문 */
    section div#myreserv {
        width: 1000px;
        height: 100%;
        margin-left: 200px;
    }

    section div#myreserv h1 {
        width: 200px;
        height: 30px;
        padding: 20px;
        border-bottom: 1px solid #929292;
    }

    #info {
        font-size: 13px;
        color: #929292;
        margin-left: 10px;
    }

    table.reserv {
        width: 950px;
        border-collapse: collapse;
        margin: 0 40px 40px 40px;
        font-size: 14px;
    }

    table.reserv th, tr, td {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        text-align: center;
        height: 30px;
    }

    table.reserv th {
        background: #F2F2F2;
        height: 30px;
    }

    h3 {
        height: 30px;
        text-indent: 5px;
        margin-top: 50px;
        color: #525252;
    }

    .circle {
        display: block;
        width: 10px;
        height: 10px;
        float: left;
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 30px;
    }

    #green {
        background: forestgreen;
    }

    #red {
        background: maroon;
    }

    #expired td {
        background: gainsboro;
    }

    .warning {
        margin: 40px 0 10px 40px;
        font-size: 14px;
        color: maroon;
        font-weight: bold;
    }

</style>
<body>
<%- include("../../include/userHeader.ejs") %>
<section>
    <%- include("../../include/userMyPageMenu.ejs") %>
    <div id="myreserv">
        <h1>쿠폰</h1>
        <span id="info">쿠폰을 활용해서 멀리 떠나보세요! </span>
        <h3><span id="green" class="circle"></span>사용 가능한 쿠폰</h3>
        <p class="warning">* 쿠폰은 만료일자가 가까운 순서로 정렬 됩니다.</p>

        <table class="reserv">

            <tr>
                <th>쿠폰 번호</th>
                <th>쿠폰명</th>
                <th>쿠폰 내용</th>
                <th>만료 일자</th>
                <th>할인율</th>
            </tr>

            <% available.forEach( c => { %>
            <tr>
                <td><%= c.cno %></td>
                <td><%= c.cname %></td>
                <td><%= c.ccontent %></td>
                <td>
                    <!-- 가입 축하 할인 쿠폰 (소멸되지 않는) 일 경우 -->
                    <% if (c.cno == 1) { %>
                        ~
                    <% } else { %>
                        <%= c.edate %>
                    <% } %>
                </td>
                <td><%= c.mrate %>%</td>
            </tr>
            <% }) %>

        </table>
    </div>
    </div>

</section>

<%- include("../../include/userFooter.ejs") %>
</body>
</html>