<style>
    /* 본문 */
    section div#myreserv { width:1300px; height: 100%;
        margin-left: 200px;
    }
    section div#myreserv h1 { width: 200px;
        height: 30px;
        padding: 20px;
        border-bottom: 1px solid #929292; }

    #info { font-size: 13px; color: #929292;
        margin-left: 10px;  }

    table#reserv { width: 1300px;
        border-collapse: collapse;
        margin: 40px;
        font-size: 14px; }
    table#reserv th, tr, td { border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        text-align: center; }
    table#reserv th { background: #F2F2F2; height: 40px; }
    table#reserv img { width: 100px; height: 70px; padding: 5px; }
    .red { font-weight: bold;  color: maroon; }
    .payNow { width: 80px; height: 25px; border: none; background: steelblue; color: #fff; margin-bottom: 5px; }
    .writeReview { width: 80px; height: 25px; border: none; background: #828282; color: #fff; }
    .seeReview {width: 80px; height: 25px; border: none; background: #828282; color: #fff; }
    .cancel { width: 80px; height: 25px; border: none; background: maroon; color: #fff; }

    .yellow  { font-weight: bold;  color: goldenrod; }
    .blue { font-weight: bold;  color: steelblue;}
    #manage { width: 100px; }
</style>
<body>
<%- include("../../include/userHeader.ejs")%>
<script>
    $(function(){
        $(".payNow").click(function(){

            var rnoString = $(this).parent().parent().find(".rno").html();
            var rno = rnoString.substring(4);
            var cf = confirm(rno + " 번 상품을 결제하시겠습니까? ");

            if(cf){
                location.href="tourlandMyReservPayNow?rno="+rno;
            }
        })

        $(".cancel").click(function(){
            var rnoString = $(this).parent().parent().find(".rno").html();
            var rno = rnoString.substring(4);
            var cf = confirm(rno + " 번 상품을 정말 취소하시겠습니까? ");

            if(cf){
                location.href="tourlandMyReservCancel?rno="+rno;
            }
        })

        $(".writeReview").click(function(){
            var rnoString = $(this).parent().parent().find(".rno").html();
            var rno = rnoString.substring(4);
            location.href="tourlandMyReview?rno="+rno;
        })
        $(".seeReview").click(function(){
            var rnoString = $(this).parent().parent().find(".rno").html();
            var rno = rnoString.substring(4);
            location.href="tourlandReadMyReview?rno="+rno;
        })

    })
</script>
<% if (paySuccess!=null) { %>
    <script>
        alert("결제가 완료 되었습니다.");
    </script>
<% } %>
<% if (cancel!=null) { %>
    <script>
        alert("예약이 취소되었습니다.");
    </script>
<% } %>
<% if (addReview!=null) { %>
    <script>
        alert("리뷰가 등록되었습니다.");
    </script>
    <% } %>

<section>
    <%- include ("../../include/userMyPageMenu.ejs")%>
    <div id="myreserv">
        <h1>내 예약 현황</h1>
        <span id="info">고객님의 현재 예약 현황을 확인 하실 수 있습니다.</span>

        <table id="reserv">
            <tr>
                <th>예약 번호</th>
                <th>예약일</th>
                <th colspan="2">상품</th>
                <th>출발일</th>
                <th>도착일</th>
                <th>예약 상태</th>
                <th id="manage">관리</th>
            </tr>
            <% if (noList == null) { %>
            <% list.forEach( reserv => { %>
                    <tr>
                        <td class="rno">RERV<%=reserv.no%></td>
                        <td><%= reserv.rdate %></td>
                        <td><%= reserv.product.pname %></td>
                        <td><img src="displayFile/product?filename=<%=reserv.product.pic%>"></td>
                        <%
                            let f = reserv.product.air;
                            let startdate;
                        for(let i=0; i<1; i++){
                            startdate = f[i].ddate;
                        }
                        %>
                        <%
                            let f = reserv.product.air;
                            let enddate;
                            for(let i=1; i<2; i++){
                                enddate = f[i].ddate;
                            }
                        %>
                        <td><%=moment(startdate).format('YYYY-MM-DD')%></td>
                        <td><%=moment(enddate).format('YYYY-MM-DD')%></td>
                        <% if (reserv.rstatus=='1') { %>
                            <td class="red">결제 가능</td>
                        <% } %>
                        <% if (reserv.rstatus=='2') { %>
                            <td class="blue">결제 완료 <br>(예약 확정 대기 중)</td>
                        <% } %>
                        <% if (reserv.rstatus=='3') { %>
                            <td class="yellow">예약 확정</td>
                            <% } %>

                        <td>
                            <% if (reserv.rstatus=='1') { %>
                                <button class="payNow">결제하기</button>
                                <br>
                                <% } %>

                            <% if (reserv.rstatus=='3' && reserv.review.no==null) { %>
                                <button class="writeReview">리뷰쓰기</button>
                                <% } %>
                            <% if (reserv.rstatus=='3' && reserv.review.no!=null) { %>
                                <button class="seeReview">리뷰보기</button>
                                <% } %>
                            <% if (reserv.rstatus=='1') { %>
                                <button class="cancel">예약 취소</button>
                                <% } %>
                            <% if (reserv.rstatus=='2') { %>
                                -
                                <% } %>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
            <% if (noList != null) { %>
                <td colspan="8" class="red">표시될 예약이 없습니다.</td>
                <% } %>
        </table>
    </div>

</section>

<%- include("../../include/userFooter.ejs") %>
</body>
</html>