<%- include("../../include/userHeader.ejs") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/tourlandProductJPList.css"/>

<script>
    function replaceAll(str, searchStr, replaceStr) {
        return str.split(searchStr).join(replaceStr);
    }

    $(function () {
        /* 페이지 좌측 검색 박스 검색 버튼 클릭  */
        $("#pkgSearchBtn").click(function () {
            getSearchResult("Japan");
        })
        /* 리스트 우측 전체 리스트 보기 버튼 클릭 */
        $("#listAll").click(function () {
            getList(1, "Japan");
        })
        /* 리스트 우측 전체 리스트 보기 버튼을 클릭했을 때 모든 데이터를 불러오는 Ajax  */
        function getList(page,locale){
            $.ajax({
                url : "tourlandProduct"+locale+"ListAll/"+page,
                type : "get",
                dataType : "json",
                success : function(rs){
                    $("#pkgListBoxWrap").empty();
                    $(".pagination").empty();
                    $("#totalCount").html(rs.count);
                    appendAjaxData(rs,"tourlandProduct"+locale+"ListAll","listAll");
                }
            })
        }

        /* 낮은 가격 순 정렬 */
        $("#byPrice").click(function () {
            getLowPriceList(1, "JP");
        })
        /* AJAX 페이징 */
        /* 낮은 가격순 리스트 페이지 번호 클릭 시 페이지 번호가 넘어가고 해당 번호의 리스트 출력 */
        $(document).on("click", ".lowPriceListPage", function () {
            $('html, body').animate({scrollTop: 0}, 200);
            var page = $(this).html();
            getLowPriceList(page, "JP");
        })
        /* 전체 리스트 페이지 번호 클릭 시 페이지 번호가 넘어가고 해당 페이지 번호의 리스트 출력 */
        $(document).on("click", ".listAll", function () {
            $('html, body').animate({scrollTop: 0}, 200);
            var page = $(this).html();
            getList(page, "Japan");
        })

        /* AJAX 리스트에 동적으로 생성된 '지금 바로 예약하기' 버튼  */
        $(document).on("click", ".pkgReservBtn", function () {
            var pno = $(this).attr("data-pno");
            var price = replaceAll($(this).attr("data-price"), ",", "");
            if ($.cookie('currentProduct') != null && $.cookie('currentProductPrice') != null) {
                $.cookie("currentProduct2", $.cookie('currentProduct'), {expires: 1, path: "/"});
                $.cookie("currentProductPrice2", $.cookie('currentProductPrice'), {expires: 1, path: "/"});
                $.removeCookie('currentProduct');
                $.removeCookie('currentProductPrice');
                $.cookie("currentProduct", pno, {expires: 1, path: "/"});
                $.cookie("currentProductPrice", price, {expires: 1, path: "/"});
            } else {
                $.cookie("currentProduct", pno, {expires: 1, path: "/"});
                $.cookie("currentProductPrice", price, {expires: 1, path: "/"});
            }

            location.href = "/customer/tourlandProductDetail/" + pno + "?price=" + price;

        })
    })
</script>
<body>
<!-- 메인 검색 박스에서 검색한 내용을 들고와서 자동 검색 후 페이지 출력 -->
<% if (tourDays != null) { %>
<script>
    $(function () {
        $(".datepicker").val("<%= date %>");
        $("#rdate option[value='<%= tourDays %>']").attr("selected", "selected");
        $("#cnt option[value='<%= capa %>']").attr("selected", "selected");
        $("#pkgSearchBtn").trigger("click");
    })

</script>
<% } %>
<section>
    <div id="pkgTitleBox">
        <h1>도쿄</h1>
        <div id="pkgInfo">
            <p>일본은 최첨단 전자제품 매장과 로봇 레스토랑 바로 옆에 신사를 찾아볼 수 있을 만큼 옛 전통과 현대 문화가
                절묘한 조화를 이루는 인기 여행지입니다. 벚꽃이 만발하는 봄을 비롯해 사계절 내내 즐길 거리로 가득한 일본은 언제
                방문해도 만족스러운 여행 경험을 선사합니다. 일본 전역에서 사용 가능한 JR 패스만 있으면 다양한 도시를 자유롭게 여행할 수 있어요.
                하루나 이틀 정도는 도쿄를 대표하는 최고의 관광 명소, 도쿄 디즈니랜드에서 어트랙션을 즐기고, 일본 최고층 전망대도 방문해보세요.</p>
        </div>
        <div id="pkgMap"></div>

    </div>
    <div id="pkgContentBox">
        <div id="pkgSearch">
            <h3>검색</h3>
            <p>출발일 선택</p>
            <input type="date" class="datepicker" name="ddate">
            <p>여행일 선택</p>
            <select id="rdate">
                <option value='3일'>3일</option>
                <option value='5일'>5일</option>
                <option value='7일'>7일</option>
            </select>
            <p>인원</p>
            <select id="cnt">
                <option value='2명'>2명</option>
                <option value='3명'>3명</option>
                <option value='4명'>4명</option>
                <option value='5명'>5명</option>
                <option value='6명'>6명</option>
                <option value='7명'>7명</option>
                <option value='8명'>8명</option>
                <option value='9명'>9명</option>
                <option value='10명'>10명</option>
                <option value='11명'>11명</option>
                <option value='12명'>12명</option>
                <option value='13명'>13명</option>
                <option value='14명'>14명</option>
                <option value='15명'>15명</option>
                <option value='16명'>16명</option>
                <option value='17명'>17명</option>
                <option value='18명'>18명</option>
                <option value='19명'>19명</option>
                <option value='20명'>20명</option>
            </select>
            <p id="pkgBtnBox">
                <button id="pkgSearchBtn">검색</button>
            </p>
        </div>

        <div id="pkgListWrap">
            <p id="totalCnt">
                도쿄 : 검색된 상품 <span id="totalCount"><%= count %></span>건
            </p>
            <div id="pkgOrderBy">
                <button id="byPrice">낮은 가격 순</button>
                <button id="listAll">전체 리스트 보기</button>
            </div>
            <div id="pkgListBoxWrap">
                <% list.forEach( product => { %>
                <input type="hidden" value="<%= product.pno %>" id="pno">
                <div class="pkgInfoBox">
                    <div class="pkgImg">
                        <img src="/displayFile/product?filename=<%= product.ppic %>">
                    </div>
                    <p class="pkgTitle"><%= product.pname %></p>
                    <%
                        let airPrice = 0;
                        let hotelPrice = 0;
                        let tourPrice = 0;
                        let f = product.airplaneId_airplanes;
                        for (let i =f.length-2; i < f.length-1; i++) {
                            airPrice = airPrice + f[i].price;
                            // console.log(airPrice,"----", f[i].price);
                        }
                        let h = product.hotelId_hotels;
                        for (let i = h.length - 1; i <= h.length - 1; i++) {
                            let checkin = h[i].checkin;
                            let checkout = h[i].checkout;
                            let checkinDate = checkin;
                            let checkoutDate = checkout;
                            let checkinTime = checkinDate.time / (1000 * 60 * 60 * 24);
                            let checkoutTime = checkoutDate.time / (1000 * 60 * 60 * 24);
                            let dateDiff = checkoutTime - checkinTime;
                            let hotelPrice = h[i].price * dateDiff;
                        }
                        let t = product.tourId_tours;
                        for (let i =t.length - 2; i <= t.length - 1; i++) {
                            tourPrice = tourPrice + t[i].tprice;
                            // console.log(airPrice,"----", t[i].tprice);
                        }

                        let N = airPrice + hotelPrice + tourPrice;
                        let price = N + (1 - (N % 1)) % 1;
                        let expire = product.pexpire;
                    %>
                    <p class="pkgPrice"><%= price %>원 부터~</p>
                    <p class="pkgDate">~ <%= expire %>까지 예약 가능</p>
                    <p class="pkgReserv">
                        <button class="pkgReservBtn" data-price="<%= price %>" data-pno="<%= product.id %>">지금 바로 예약
                        </button>
                    </p>
                </div>
                <% }) %>
            </div>
            <div class="box-footer">
                <!--  부트 스트랩으로 사용  -->
                <div class='text-center'>
                    <ul class="pagination">
                        <% if (pagingData.totalPages != 0) { %>
                        <div class="" style="text-align:center;">
                            <ul class="pagination">
                                <li <%if(pagingData.currentPage == 1){ %> class="disabled" <% }else{ %> class="waves-effect" <% } %> >
                                    <a
                                            <% if(pagingData.currentPage > 1){ %>
                                            href="?currentPage=<%= pagingData.currentPage-1 %>"
                                            <% } %>
                                    >
                                        <i class="material-icons">prev</i>
                                    </a>
                                </li>
                                <% for(var i = pagingData.pnStart; i <= pagingData.pnEnd; i++){ %>
                                <li
                                <% if(i === pagingData.currentPage){ %> class="active"
                                        <% } %>
                                ><a href="?currentPage=<%= i %>"><%= i %></a></li>
                                <% } %>
                                <li
                                <% if(pagingData.currentPage == pagingData.totalPages){ %> class="disabled"
                                <% }else{ %> class="waves-effect"
                                        <% } %>
                                >
                                    <a
                                            <% if(pagingData.currentPage < pagingData.totalPages){ %>
                                            href="?currentPage=<%= pagingData.currentPage+1 %>"
                                            <% } %>
                                            class="waves-effect">
                                        <i class="material-icons">next</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../../include/userFooter.ejs") %>
