<link rel="stylesheet" type="text/css" href="/stylesheets/tourlandLoginForm.css"/>
<%- include("../include/userHeader.ejs") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script  type="text/javascript">

    $(document).ready(function(){

            $("#btnLogin").click(function () {


                const id = $("#id").val();
                const pass = $("#pass").val();
                $.ajax({
                    url: "/loginForm",
                    type: 'post',
                    traditional: true,
                    data: {"userid" : id, "pass":pass},
                    dataType: "json",
                    success: function (result) {
                        if (result.responseText === "loginfail") {
                            $("#errormsg").text("아이디와 비밀번호 확인 하세요.");
                        }else if(result.responseText === "loginsuccess"){
                            confirm("로그이 완료되었습니다.첫 페이지로 이동합니다.");
                            location.href = "/customer";
                        }
                        else return;
                    },
                    error: function (result) {
                        alert("1111->" + result);
                        console.log(result);
                        if (result.responseText === "loginfail") {
                            alert("로그인 실패");
                            return;
                        }
                    }
                })
            })

        }
    );


</script>
<section>
    <div id="loginHead">
        <h1>로그인</h1>
        <p>새로운 세상, 투어랜드</p>
    </div>
    <div id="loginBox">
        <form>
            <h2>투어랜드</h2>
            <div id="loginInnerBox">
                <div id="inputBox">
                    <% if( userAuth.userid != null) { %>
                    <input type="text" name="id" id="id" placeholder="아이디" value="<%= userAuth.userid %>">
                    <input type="password" name="pass" id="pass" placeholder="비밀번호"
                           value="<%= userAuth.userpass %>">
                    <% } else  { %>
                        <input type="text" name="id" id="id" placeholder="아이디">
                        <input type="password" name="pass" id="pass" placeholder="비밀번호">
                    <% } %>
                </div>
                <div id="submitBox">
                    <input type="button" id="btnLogin" value="입력">
                </div>
                <% if(error != null) { %>
                    <p class="error"><%= error %></p>
                <% } %>
                <div id="errormsg"></div>
            </div>
        </form>
        <div id="loginBtns">
            <button id="join" style="cursor: pointer">회원가입</button>
            <button id="findIDPW" style="cursor: pointer">아이디/비밀번호 찾기</button>
        </div>
        <div id="loginAPI">
            <button id="naver" class="api" style="cursor: pointer">
                <span>NAVER</span> 로그인
            </button>
            <button id="kakao" class="api" style="cursor: pointer">
                <span>kakao</span> 로그인
            </button>
        </div>
    </div>

</section>
<script>
    $("#join").click(function () {
        location.href = "/Register";
    })
    $("#findIDPW").click(function () {
        location.href = "/FindIdPw";
    })
</script>
<%- include("../include/userFooter.ejs") %>
