<%- include("../../include/header.ejs") %>
<style>
    /* #opa { width: 100%; height: 100%; background: gray; opacity: 0.2; } */
    table .table table-bordered th,td,th{
        text-align: center;
    }
    .userFlight:hover {
        background-color : lightgrey;
    }
</style>
<!-- <div id="opa">dummy</div> -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h2 class="box-title">항공 관리</h2>
                </div>
                <div class="box-body">
                    <!-- 검색 작업에서 유지될 데이터
                        1. 현재 페이지의 번호
                        2. 페이지당 보여지는 데이터의 수
                        3. 검색의 종류
                        4. 검색의 키워드
                     -->
                    <select name="searchType" id="searchType" style="width:200px; height: 25px;">
                        <option value="n" <%= (cri.searchType === null) ? 'selected' : ''%> >선택하세요</option>
                        <option value="n" <%= (cri.searchType === 'n') ? 'selected' : ''%> >번호</option>
                        <option value="ano" <%= (cri.searchType === 'ano') ? 'selected' : ''%> >항공기 번호</option>
                        <option value="rlocation" <%= (cri.searchType === 'rlocation') ? 'selected' : ''%> >도착 지역</option>

                    </select>
                    <input type="text" name="keyword" id="keywordInput" value="<%=cri.keyword%>" placeholder="검색어를 입력하세요">
                    <button id="btnSearch">Search</button>
                    <button id="btnReset">리셋</button>
                </div>
                <div class="box-body">

                </div>

                <div>  //출발일 검색
                    <input type="date" name="keyword" id="currentDate">
                    <button id="btnSearch">Search</button>
                </div>
                <div>
                    <button id="btnSearch">항공편 추가</button>
                    <button id="btnSearch">국내</button>
                    <button id="btnSearch">해외</button>
                    <button id="btnSearch">전체 리스트 보기</button>
                </div>
                <div class="box-body">
                    항공편을 클릭하면 해당 항공편의 출발/도착편을 확인하실 수 있습니다.
                    <table class="table table-bordered">
                        <tr>
                            <th style="width:100px;">번호</th>
                            <th>항공기번호</th>
                            <th>출발지역</th>
                            <th>도착지역</th>
                            <th>출발 일시</th>
                            <th>도착 일시</th>
                            <th>장소 구분</th>
                            <th>허용 인원</th>
                            <th>좌석</th>
                            <th>가격</th>

                        </tr>
                        <!-- 반복 돌면서 list가져오기 -->
                        <% list.forEach( flight => { %>
                        <tr data-click="<%=flight.no%>" class="userFlight"> <!-- 전체 줄 클릭했을 때 디테일로 넘어가도록 처리할 data-click 속성 선언 -->
                            <td></td>
                            <td></td>
                            <td><%=flight.dlocation%></td>
                            <td><%=flight.rlocation%></td>
                            <td><%=new Date(flight.ddate)%></td>
                            <td><%=new Date(flight.ldate)%></td>
                            <td></td>
                            <td><%=flight.capacity%></td>
                            <td><%=flight.seat%></td>
                            <td><%=flight.price%></td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
                <div class="box-footer">
                    <!--  부트 스트랩으로 사용  -->
                    <div class='text-center'>
                        <ul class="pagination">
                            <% if (pagingData.totalPages != 0) { %>
                            <div class="" style="text-align:center;">
                                <ul class="pagination">
                                    <li <%if(pagingData.currentPage == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
                                        <a <%if(pagingData.currentPage > 1){%> href="?currentPage=<%=pagingData.currentPage-1%>" <%}%>>
                                            <i class="material-icons">prev</i>
                                        </a>
                                    </li>
                                    <% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %> <li <%if(i===pagingData.currentPage){%> class="active"
                                            <%}%>><a href="?currentPage=<%=i%>"><%=i%></a></li>
                                    <% } %>
                                    <li <%if(pagingData.currentPage == pagingData.totalPages){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
                                        <a <%if(pagingData.currentPage < pagingData.totalPages){%> href="?currentPage=<%=pagingData.currentPage+1%>" <%}%> class="waves-effect">
                                            <i class="material-icons">next</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <% } %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#btnSearch").click(function(){
        let searchType = $("#searchType").val();
        let keyword = $("#keywordInput").val();
        //각 리스트를 클릭했을 때 디테일로 넘어가는 부분
        $(".flight").click(function(){
            let no = $(this).attr("data-click");
            let searchType = "<%=cri.searchType%>";
            let keyword = "<%=cri.keyword%>";
            location.href = "/manager/userDetailForm/"+no+"&page=<%=pagingData.currentPage %>&searchType="+searchType+"&keyword="+keyword;
        })
        $("#btnReset").click(function(){
            location.href = "/manager/userMngList/";
        })
        //추가 버튼 누르면
        $("#btnRegister").click(function(){
            location.href = "/manager/userRegister";
        })
</script>
<%- include('../../include/footer.ejs')%>