<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link href="/stylesheets/eventDetailPage.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<%- include("../../include/userHeader.ejs") %>
<!--	   <div id="eventPageDiv">-->
<!--		   이벤트 배너-->
<!--			<img src="/images/eventPage.jpg" style="width:100%; height:550px;">-->
<!--			<p id="eventPageP">TOURLAND BIG EVENT</p>-->
<!--	   </div>-->
	   
	  <section id="eventSection">
	     
		<!--  이벤트 정보 출력  -->
		   <div id="evnetContentDiv" style="position: relative;">
		        <button class="returnBTN"> 이전으로  </button>
		        <br><br>
			   <% if (eventVO !=null) { %>
			      <h2 style="letter-spacing: 0.5em;"><i class="fas fa-bell"></i> <%=eventVO.title%> <i class="fas fa-bell"></i></h2><br><br><br>
			      <h3 style="color:tomato;">이벤트 기간</h3>
			      <h4 style="letter-spacing: 0.1em;"><%=eventVO.startdate%>' ~ '<%=eventVO.enddate%>'</h4>
			      <br><br>
			     <%-eventVO.content%>
			   <% } %>
			   <button class="toTop"> <i class="fas fa-chevron-up"></i>위로</button>
		   </div>   
		   
	  </section>
	<%- include("../../include/userFooter.ejs") %>
</body>

<script>
  
	$(function(){
		$('html, body').animate({ scrollTop : 800 }, 0);
		$('.toTop').click( function() {
			$('html, body').animate({ scrollTop : 800 }, 600); //이벤트 사진 전까지 이동 스르륵
			return false;
		} );
		//이전페이지
		$(".returnBTN").click(function(){
			history.go(-1);  
		})
	})
</script>   
</html>