<%- include ("../../include/header.ejs") %>

<style>
    table .table table-bordered th,td,th{
        text-align: center;
    }
    .rentcarList:hover {
        background-color : lightgrey;
    }
</style>
<script>

</script>
<!-- <div id="opa">dummy</div> -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h2 class="box-title">렌트카 관리</h2>
                </div>
                <div class="box-body">
                    <select name="searchType" id="searchType" style="width:200px; height: 25px;">
                        <option value="N" <%=cri.searchType ==null?'selected':''%>>----------</option>
                        <option value="rentcarType" <%=cri.searchType =='rentcarType'?'selected':''%>>차종류</option>
                        <option value="rentcarCno" <%=cri.searchType =='rentcarCno'?'selected':''%>>차번호</option>
                        <option value="rentDepartaddr" <%=cri.searchType =='rentDepartaddr'?'selected':''%>>대여,반납 장소</option>
                        <option value="rentLDiv" <%=cri.searchType =='rentLDiv'?'selected':''%>>장소구분(국내/해외)</option>
                    </select>
                    <input type="text" name="keyword" id="keywordInput">
                    <button id="btnSearch">Search</button>
                </div>
                <div class="box-body">
                    <button id="btnRegister">렌트카 추가</button>
                </div>
                <div class="box-body">
                    <p id="datePick">
                        <span><i class="far fa-calendar-alt"></i> 시작 날짜 </span>
                        <span class="picker"><input type="date" class="datepicker" name="rentddate" placeholder="날짜를 선택하려면 클릭." style="height:30px;"></span>
                        <span><i class="far fa-calendar-alt"></i> ~  종료 날짜 </span>
                        <span class="picker"><input type="date" class="datepicker" name="returndate" placeholder="날짜를 선택하려면 클릭." style="height:30px;"></span>
                        <span id="pickSearch"><a href="#"><i class="fas fa-search"></i></a></span>
                    </p>
                    <table class="table table-bordered">
                        <tr>
                            <th>번호</th>
                            <th>차 종류</th>
                            <th>차 번호</th>
                            <th>대여 일자</th>
                            <th>반납 일자</th>
                            <th>대여 장소</th>
                            <th>반납 장소</th>
                            <th>가격</th>
                            <th>허용인원</th>
                            <th>보험여부</th>
                            <th>국내/해외</th>
                            <th>상세보기</th>

                        </tr>
                        <% list.forEach( rentcarList => { %>
                            <tr class="rentcarList" data-click="<%=rentcarList.id%>">
                                <td><%=rentcarList.id%></td>
                                <td><%=rentcarList.cdiv%></td>
                                <td><%=rentcarList.cno%></td>
                                <td><%=rentcarList.rentddate%></td>
                                <td><%=rentcarList.returndate%></td>
                                <td><%=rentcarList.rentaddr%></td>
                                <td><%=rentcarList.returnaddr%></td>
                                <td><%=rentcarList.price%></td>
                                <td><%=rentcarList.capacity%></td>
                                <td><%=rentcarList.insurance%></td>
                                <td><%=rentcarList.ldiv == 0?'해외':'국내'%></td>
                                <td><button style="background:steelblue; border:none;" class="toRentcarDetail" data-click="<%=rentcarList.id%>">상세보기</button>
                                    <button style="background:tomato; border:none;" class="delRentcar" data-click="<%=rentcarList.id%>">삭제</button></td>
                            </tr>
                        <% }) %>
                    </table>
                </div>
                <div class="box-footer">
                    <!--  부트 스트랩으로 사용  -->
                    <div class='text-center'>
                        <ul class="pagination">
                            <% if (pagingData.totalPages != 0) { %>
                            <div class="" style="text-align:center;">
                                <ul class="pagination">
                                    <li <%if(pagingData.currentPage == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
                                        <a <%if(pagingData.currentPage > 1){%> href="?currentPage=<%=pagingData.currentPage-1%>" <%}%>>
                                            <i class="material-icons">prev</i>
                                        </a>
                                    </li>
                                    <% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %> <li <%if(i===pagingData.currentPage){%> class="active"
                                            <%}%>><a href="?currentPage=<%=i%>"><%=i%></a></li>
                                    <% } %>
                                    <li <%if(pagingData.currentPage == pagingData.totalPages){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
                                        <a <%if(pagingData.currentPage < pagingData.totalPages){%> href="?currentPage=<%=pagingData.currentPage+1%>" <%}%> class="waves-effect">
                                            <i class="material-icons">next</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <% } %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("i.fas.fa-search").click(function(){
        var rentddate = $("input[name='rentddate']").val();
        var returndate = $("input[name='returndate']").val();
        location.href = "/manager/rentcarMngList?searchType=rentDepartDate"+"&keyword="+rentddate+"&keyword2="+returndate;

        //<option value="rentDepartDate" <%=cri.searchType =='rentDepartDate'?'selected':''%>>출발날짜</option>
    })


    $("#btnSearch").click(function(){
        var searchType = $("#searchType").val();
        var keyword = $("#keywordInput").val();
        location.href = "/manager/rentcarMngList?searchType="+searchType+"&keyword="+keyword;
        //searchBoardController의 listPage GET 으로 받음

    })

    $("#btnRegister").click(function(){
        location.href = "/manager/rentcarRegister";
    })

    $(".toRentcarDetail").click(function(){
        var id = $(this).attr("data-click");
        location.href = "/manager/rentcarDetailForm?id="+id;
    })
    $(".delRentcar").click(function(){
        var cc = confirm("렌트카 상품을 삭제하시겠습니까?");
        if(cc){
            var id = $(this).attr("data-click");
            location.href = "/manager/delRentcar?id="+id;
        }
    })

</script>

<%- include ("../../include/footer.ejs") %>