<%- include ("../../include/header.ejs") %>
<style>
    #btnRegister {
        margin-left: 40px;
    }

    #n, #s, #d {
        font-weight: bold;
    }

    #listTable th, td {
        text-align: center;
    }

    #listTable td {
        line-height: 28px;
    }

</style>
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">호텔 관리</h3>
                </div>
                <div class="box-body">
                    <select name="searchType" id="searchType">
                        <option value="total" <%= cri.searchType == 'total' ? 'selected' : '' %>>전체</option>
                        <option value="hname" <%= cri.searchType == 'hname' ? 'selected' : '' %>>호텔이름</option>
                        <option value="haddr" <%= cri.searchType == 'haddr' ? 'selected' : '' %>>호텔주소</option>
                        <option value="bookedup" <%= cri.searchType == 'bookedup' ? 'selected' : '' %>>객실체크여부</option>
                    </select>
                    <input type="text" name="keyword" id="keyword" value="<%= cri.keyword %>">
                    <button id="btnSearch">검색</button>
                    <button id="btnRegister">호텔상품 추가</button>
                </div>
                <div class="box-body">
                    <p id="datePick">
                        <span><i class="far fa-calendar-alt"></i> 체크인 </span>
                        <span class="picker"><input type="date" class="datepicker" name="checkin"
                                                    placeholder="날짜를 선택하려면 클릭." style="height:30px;"
                                                    value="<%= cri.keyword2 %>"></span>
                        <span><i class="far fa-calendar-alt"></i> ~  체크아웃 </span>
                        <span class="picker"><input type="date" class="datepicker" name="checkout"
                                                    placeholder="날짜를 선택하려면 클릭." style="height:30px;"
                                                    value="<%= cri.keyword3 %>"></span>
                        <span id="pickSearch"><a href="#"><i class="fas fa-search"></i></a></span>
                    </p>
                    <table class="table table-bordered" id="listTable">
                        <tr>
                            <th>번호</th>
                            <th>호텔이름</th>
                            <th>호텔주소</th>
                            <th>체크인날짜</th>
                            <th>체크아웃날짜</th>
                            <th>허용인원수</th>
                            <th>가격(1박)</th>
                            <th>객실 수</th>
                            <th>객실타입</th>
                            <th>장소구분</th>
                            <th>예약 가능 여부</th>
                            <th>전체인원</th>
                            <th>관리</th>
                        </tr>
                        <% list.forEach( hotel => { %>
                            <tr>
                                <td class="firstNo"><%= hotel.id %></td>
                                <td><%= hotel.hname %></td>
                                <td><%= hotel.haddr %></td>
                                <td><%= moment(hotel.checkin).format('YYYY-MM-DD') %></td>
                                <td><%= moment(hotel.checkout).format('YYYY-MM-DD') %></td>
                                <td><%= hotel.capacity %><span>인</span></td>
                                <td><%= hotel.price %></td>
                                <td><%= hotel.roomcapacity %><span>실</span></td>

                                <% if(hotel.roomtype == 'N') { %>
                                    <td style="color:#5D5D5D;" id="n">노말</td>
                                <% } else if(hotel.roomtype == 'D') { %>
                                    <td style="color:#F29661;" id="d">디럭스</td>
                                <% } else { %>
                                    <td style="color:#D941C5;" id="s">스위트</td>
                                <% } %>

                                <% if(hotel.ldiv == 0) { %>
                                    <td>해외</td>
                                <% } %>
                                <% if(hotel.ldiv == 1) { %>
                                    <td>국내</td>
                                <% } %>

                                <% if(hotel.bookedup == 0) { %>
                                    <td><span class="badge bg-orange"> 예약가능 </span></td>
                                <% } else if(hotel.bookedup == 1) { %>
                                    <td>
                                        <span class="badge bg-blue">예약불가능</span>
                                    </td>
                                <% } %>
                                <td><%= hotel.totalcapacity %></td>
                                <td>
                                    <button type="button" class="btn btn-primary active btn-sm " id="btnModify"
                                            data-no="<%= hotel.id %>">수정
                                    </button>
                                    <button class="btn btn-primary btn-danger btn-sm " id="btnDelete"
                                            data-no="<%= hotel.id %>">삭제
                                    </button>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                </div>
                <div class='text-center'>
                    <ul class="pagination">
                        <% if (pagingData.totalPages != 0) { %>
                        <div class="" style="text-align:center;">
                            <ul class="pagination">
                                <li <%if(pagingData.currentPage == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
                                    <a <%if(pagingData.currentPage > 1){%> href="?currentPage=<%=pagingData.currentPage-1%>" <%}%>>
                                        <i class="material-icons">prev</i>
                                    </a>
                                </li>
                                <% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %> <li <%if(i===pagingData.currentPage){%> class="active"
                                        <%}%>><a href="?currentPage=<%=i%>"><%=i%></a></li>
                                <% } %>
                                <li <%if(pagingData.currentPage == pagingData.totalPages){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
                                    <a <%if(pagingData.currentPage < pagingData.totalPages){%> href="?currentPage=<%=pagingData.currentPage+1%>" <%}%> class="waves-effect">
                                        <i class="material-icons">next</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("i.fas.fa-search").click(function () {
        var checkin = $("input[name='checkin']").val();
        var checkout = $("input[name='checkout']").val();
        location.href = "/manager/hotelMngList ? searchType = checkDate"+" & keyword2 = "+checkin+" & keyword3 = "+checkout;

})

var keywordChange = function() {

var searchType = "<%=cri.searchType%>";
var keyword = "<%=cri.keyword%>";

    $("#searchType option").each(function (i, obj) {
        var value = $(this).val();
        if (value == searchType) {
            $(this).prop("selected", true);

            return;
        }
    })
    $("#keyword").val(keyword);
};

$("#btnSearch").click(function () {
    var searchType = $("#searchType option:selected").val();
    var keyword = $("#keyword").val();
    location.href = "hotelMngList?searchType=" + searchType + "&keyword=" + keyword;
})

$("#btnRegister").click(function () {
    location.href = "hotelRegister";
})

$("#btnModify").click(function(){
    var id = $(this).attr("data-no");
    var page = "<%=cri.page%>";
    location.href = "hotelModify?id="+id+"&page="+page;
})

$("#btnDelete").click(function(){
    var res = confirm("삭제하시겠습니까?");
    if (res) {
        var id = $(this).attr("data-no");
        location.href = "/manager/hotelDelete?id=" + id;
    }
});
</script>
<%- include ("../../include/footer.ejs") %>