
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/stylesheets/boardStyle.css" rel="stylesheet" type="text/css" />
<style>


  #boardRegister, #btnReturnToList{
    width:100px;
    height:30px;
    border:none;
    background: mistyrose;
  }
  #ptag{
  	padding:20px 20px;
  	color:gray;
  }
  #writerP{
  	padding-bottom: 10px;
  }
  #titleP{
  	padding-top:15px;
  }
</style>
</head>
<body>
	<%- include("../../include/userHeader.ejs")%>
		<section>
			<%- include("../../include/userBoardMenu.ejs")%>
		    <div id="detailDiv">
				<div style="width: 315px; height:115px;">
				  <br>
				  <p id="ptag">고객님들의 소중한 의견을 들려주세요.</p>
				  <br>
				</div>
				<div id="detailContent">
				   <form action="tourlandPlanBoardRegister" method="post" id="planBoardForm" autocomplete="off">
							  <p id="writerP">
								<label>작성자</label>
								  <% if(mypage == 'mypageuser') { %> <!--유저일때 -->
								     <span>[ <%=Auth.username%> ]</span><br>
								     <input type="hidden" name="writer"  value="<%=Auth.username%>">
								     <input type="hidden" name="userno" class="form-control" value="<%=Auth.userno%>">
								  <% } %>
								  <% if(mypage == 'mypageemp') { %>
								   	  <span>[ <%=Auth.empname%> ]</span><br>
								      <input type="hidden" name="writer"  value="<%=Auth.empname%>">
								      <input type="hidden" name="empno" class="form-control" value="<%=Auth.empno%>">
								  <% } %>
							  </p>
							  <p id="titlaP">
								<label>제목</label>
								<input type="text" name="title" class="form-control" required="required" style="border:none; border-bottom:1px solid black; width:400px;"> 
						      </p>
							  <p>
								<textarea rows="15" cols="100" style="margin-top:10px;" placeholder="  내용을 입력하세요" name="content" class="form-control" required="required"></textarea>
							  </p>
						      <!-- <p>
								<label>비밀번호 설정</label>
								<input type="text" name="passwd" class="form-control" required="required">
							  </p> -->
							  <br><br>
							<div>
								 <button type="submit" class="btn btn-primary" id="boardRegister">등록</button>
								 <button type="button" class="btn btn-primary" id="btnReturnToList">목록으로</button>
						</div>
				   </form>
				</div>
		     </div>
		</section>
<script>
		
	$("#btnReturnToList").click(function(){
		location.href = "tourlandPlanBoard";
	})
	
	$("#boardRegister").click(function(){
		location.href = "tourlandPlanBoardRegister";
	})
</script>
<%- include("../../include/userFooter.ejs") %>
</body>
</html>