
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/stylesheets/boardStyle.css" rel="stylesheet" type="text/css" />
<style>
  section nav ul li:nth-child(3) {
	background: mistyrose;
}
 #datailRealContent{
   height: 550px;
 }
 #btnReturnToList{
    width:100px;
    height:30px;
    border:none;
    background: mistyrose;
    margin-bottom:10px; 
   
  }
</style>
</head>
<body>
	<%- include("../../include/userHeader.ejs")%>
		<section>
		    <div id="detailDiv">
				<div>
				  <br>
				  <p>여행후기 게시판 입니다 ------ </p>
				</div>
				<div id="detailContent">
				   <ul id="datailUl">
				   <li> <%=custBoardVO.id%> </li>
				   <li class="detailLi"> <%=custBoardVO.title%> </li>
				   <li> <%=custBoardVO.writer%></li>
				   <li> <%=custBoardVO.regdate%></li>
				   </ul>
				   <div id="datailRealContent">
				       <%=custBoardVO.content%><br>
					   <img src="<%=custBoardVO.image%>" alt="image"/>
				   </div>

				</div>
				<div class="box-footer">
							 <button type="button" class="btn btn-primary" id="btnReturnToList">목록으로</button>
					<!--게시글 본인이라면 수정&삭제 보임 -->
					<% if(mypage === 'mypageuser') { %>
						<button type="button" class="btn btn-primary" onclick="btnUpdate()">수정하기</button>
						<button type="submit" class="btn btn-primary" id="btnDelete">삭제하기</button>
					<% } %>

				</div>

		     </div>
		</section>
<script>
	$("#btnReturnToList").click(function(){
		location.href = "tourlandCustBoard";
	 })

	function btnUpdate() {
		location.href = 'tourlandCustBoardRegisterEdit?id=<%=custBoardVO.id%>';
	}

	$("#btnDelete").click(function(){
		if(confirm("정말 삭제하시겠습니까?") == true) {

			fetch("tourlandCustBoardDetail?id=<%= custBoardVO.id %>&page=", {
				method: "delete"
			}).then((res) => {
					alert('삭제되었습니다');
					location.href = "tourlandCustBoard";

			})
					.catch((err) => {
						console.log(err);
					})
		} else {
			'';
		}
	})


</script>
	<%- include("../../include/userFooter.ejs")%>
</body>
</html>