<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/stylesheets/paging.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/boardStyle.css" rel="stylesheet" type="text/css" />
<style>

  #btnWrite{
     width: 100px;
     padding:5px;
     background:mistyrose;
     border:none;
     margin-left:40px;
  }
</style>
</head>

<body>
	<%- include("../../include/userHeader.ejs")%>
		<section>
			<%- include("../../include/userBoardMenu.ejs")%>

				<div id="myreserv" >
				<h1>상품 문의 사항</h1><br>
				<button id="btnWrite">글쓰기</button>
					<table id="reserv" style="margin-top:15px;">
						<tr>
							<th class="nono">번호</th>
							<th style="width:400px;">제목</th>
							<th>작성자</th>
							<th>작성일자</th>
							<th class="lastTh">답변상태</th>
						</tr>
						<% list.forEach( planBoard => { %>

						<tr class="planBoardList" data-no="<%=planBoard.id%>">
							<td class="nono"><%=planBoard.id%></td>
							<td style="width:400px;"><a href="/customer/tourlandPlanBoardDetail?id=<%=planBoard.id%>&page=<%=cri.page%>" style="text-decoration: none;"><%=planBoard.title%></a></td>
							<td><%=planBoard.writer%></td>
							<td><%=planBoard.regdate%></td>
								<% if (planBoard.answer==0) { %>
								<td><span class="badge bg-orange">답변미완료</span></td>
							<% } %>
							<% if( planBoard.answer==1) { %>
								<td><span class="badge bg-blue">답변완료</span></td>
							<% } %>
						<% }) %>
					</table>
					<!--        pageMaker 부분-->
					<!--  부트 스트랩으로 사용  -->
					<div class='text-center'>
						<ul class="pagination">
							<% if (pagingData.totalPages != 0) { %>
							<div class="" style="text-align:center;">
								<ul class="pagination">
									<li <%if(pagingData.currentPage == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
										<a <%if(pagingData.currentPage > 1){%> href="?currentPage=<%=pagingData.currentPage-1%>" <%}%>>
											<i class="material-icons">prev</i>
										</a>
									</li>
									<% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %>
									<li <%if(i===pagingData.currentPage){%> class="active"
											<%}%>>
										<a href="?currentPage=<%=i%>"><%=i%></a>
									</li>
									<% } %>

									<li <%if(pagingData.currentPage == pagingData.totalPages){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
										<a <%if(pagingData.currentPage < pagingData.totalPages){%> href="?currentPage=<%=pagingData.currentPage+1%>" <%}%> class="waves-effect">
											<i class="material-icons">next</i>
										</a>
									</li>
								</ul>

							</div>
							<% } %>

						</ul>
					</div>
				</div>

		</section>
		<script>


		//글쓰기 버튼 누르면
	$("#btnWrite").click(function(){
		location.href="tourlandPlanBoardRegister";
	})

</script>

	<%- include("../../include/userFooter.ejs") %>
</body>
</html>