<%- include("../../include/header.ejs")%>
<style>
	.table th,td {
		text-align: center;
	}
	.pagination {
		margin-left : 650px;
	}
	.pagination li:hover {
		cursor: pointer;
	}
	.active {
		background-color : lightblue;
		color : white;  
	}
	.planBoardList:hover {
		cursor : pointer;
		background-color : lightgrey;
	}
	#btnSearch{
		width: 72px;
    	margin-left: 30px;
	}
	#searchType{
		padding:3px;
	}   
	#searchType2{
		padding: 2px;
    	margin: 0px 8px;
	}
	#keywordInput{
		padding:2px;
	}
	
</style>
<div class="content">	
	<div class="row">
		<div class="col-sm-12">    
			<div class="box box-primary">      
				<div class="box-header">
					<h2 class="box-title">상품 문의사항</h2>
				</div>
				<div class="box-body">
					<table class="table table-bordered">
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일자</th>
							<th>답변상태</th>
						</tr>
						<% list.forEach( planBoard => { %>
						<tr class="planBoardList" data-no="<%=planBoard.id%>" data-respond="<%=planBoard.respond%>">
							<td><%=planBoard.id%></td>
							<td><%=planBoard.title%></td>
							<td><%=planBoard.writer%></td>
							<td><%=planBoard.regdate%></td>
							<% if(planBoard.answer==0) { %>
								<td><span class="badge bg-orange">답변미완료</span></td>
								<% } %>
							<% if(planBoard.answer==1) { %>
								<td><span class="badge bg-blue">답변완료</span></td>
							<% } %>
						</tr>
						<% }) %>
					</table>
				</div>
				<!--  부트 스트랩으로 사용  -->
				<div class='text-center'>
					<ul class="pagination">
						<% if (pagingData.totalPages != 0) { %>
						<div class="" style="text-align:center;">
							<ul class="pagination">
								<li <%if(pagingData.currentPage == 1){%> class="disabled" <%}else{%>class="waves-effect" <%}%> >
									<a <%if(pagingData.currentPage > 1){%> href="?currentPage=<%=pagingData.currentPage-1%>" <%}%>>
										<i class="material-icons">prev</i>
									</a>
								</li>
								<% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %>
								<li <%if(i===pagingData.currentPage){%> class="active"
										<%}%>>
									<a href="?currentPage=<%=i%>"><%=i%></a>
								</li>
								<% } %>
								<li <%if(pagingData.currentPage == pagingData.totalPages){%> class="disabled" <%}else{%> class="waves-effect" <%}%>>
									<a <%if(pagingData.currentPage < pagingData.totalPages){%> href="?currentPage=<%=pagingData.currentPage+1%>" <%}%> class="waves-effect">
										<i class="material-icons">next</i>
									</a>
								</li>
							</ul>
						</div>
						<% } %>
					</ul>
				</div>
			</div>         
		</div>
	</div>
</div>
<script>

		$(".planBoardList").click(function() {
		var id = $(this).attr("data-no");
		var respond=$(this).attr("data-respond");
		if(respond==null || respond==""){
			location.href = "planBoardDetail?id="+id;
		}else{
			location.href = "planBoardModify?id="+id;
		}
	})

</script>
<%- include("../../include/footer.ejs")%>